body {
    background-color:#faebd7;
    
}

#home_text {
background-color:rgba(0, 135, 135,0.25);
font-family:'Trebuchet MS';
max-width:"800px"; 
}
#home_header {
    color:rgb(0, 135, 135);
    font-family:monospace;    
    font-size:25px;
}


#javascript_header{
    color:rgb(0,135,135);
    font-family:monospace;
    font-size:25px;
    
}

#javascript_text {
    background-color:rgba(0, 135, 135,0.25);
    font-family:'Trebuchet MS';
}

#aboutme_body{
    background-image: url(myBackground.jpg);
}
#aboutme_header{
    color:rgb(0,135,135);
    font-family:monospace;
    font-size:25px;
}

#aboutme_text{
    background-color:rgba(0, 135, 135,0.3);
font-family:'Trebuchet MS';
clear:both;
max-width:800px;
}

#meface{
    float:left
}

#mestand{
    float:right;
    width:30%;
}

#rockclimb{
    float:left
}

#grandpa_gaming {
    float:right;
    width:50%;
}